.container{
    background-color: #F9CB9C;
    padding: 0px 0px 20px 0px;
    justify-content:center;
    align-items:center;    
}
div #peq{
    width: 75%;
    border-radius: 2rem;
    border: 2px solid black;
}
.row{
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}
#grande{
    width:100%;
    height: 70%;
    flex: content;
    align-items: center;
    
}
.container2{
    background-color: #adadad;
    justify-content:center;
    align-items:center; 
    width: 85%;
    height: 100%;    
}
img#likes{
    width: 20px;
    margin: 0px 0px 10px 0px;
}
#mediana{
    height: 100%;
    width: 80%;
    padding: 10px;
}
button{
    border: white;
    margin: 5px;
}
h4{
    color: blue;
}

